@charset "utf-8";
 
header {
     font-size: 18px;
     font-weight: bold;

     background-color: #00809d;

} 

#create{
     text-align:  center;
}

#update{
     text-align:  center;

}

#contents_main{
margin:20px;
border: solid 1px #000000;
border-radius: 1em;	
margin:20px;
padding:20px;
}

label {
     display: block;
     margin-bottom: 7px;
     font-size: 86%;
 }
 
 input[type="title"],
 textarea {
      margin-bottom: 20px;
      padding: 10px;
      font-size: 86%;
     border: 1px solid #ddd;
     border-radius: 3px;
     background: #fff;
 }
 
 input[type="content"] {
      width: 200px;
 }
 textarea {
      width: 50%;
      max-width: 50%;
      height: 70px;
 }
 input[type="submit"] {
      appearance: none;
     -webkit-appearance: none;
     padding: 10px 20px;
     color: #fff;
     font-size: 86%;
     line-height: 1.0em;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     background-color: #37a1e5;
 }
 input[type=submit]:hover,
 button:hover {
     background-color: #2392d8;
 }
 
 hr {
      margin: 20px 0;
      padding: 0;
 }
 